<html (mousemove)="onMove()">

    <h3>Notas de aluno</h3>

    <table>
        <tr>
            <td><label>CPF </label></td>
            <td><input [(ngModel)]="studentCpf" name="cpfBox"></td>
            <td><button (click)="getAllEnrolledClasses(studentCpf)">Procurar</button></td>
        </tr>
    </table>

    <hr>

    <table>
        <tr>
            <th>Turma</th>
            <th>metas</th>
        </tr>
        <tr *ngFor="let t of turmas" name="turmaList">
            <td name="turmaNomeList"> {{t.nome}} </td>
            <td>
                <table class="metas">
                    <tr>
                        <th *ngFor="let m of t.metasLista"> {{m}} </th>
                    </tr>
                    <tr>
                        <td class="meta" *ngFor="let m of t.metasLista">
                            <input [ngModel]="getGrade(t.id, m)" name="grade in m of t.nome">                            
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</html>