<table>
   <td><button routerLink="../">Lista de Turmas</button></td>
   <td><button routerLink="../alunos">Alunos</button></td>
   <td><button routerLink="../metas">Metas</button></td>
   <td><button routerLink="../performance">Desempenho da turma {{turma.nome}}</button></td>
   <td><button (click)="atualizarMetas()">Atualizar</button></td>
</table>
<table>
   <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>E-mail</th>
      <th *ngFor="let m of turma.getMetas()">
         {{m}}
      </th>
      <th>
         <input [(ngModel)]="novaMeta" name="novaMetaBox">
      </th>
      <th>
      <button class="addMeta" (click)="adicionarMeta(novaMeta)">Adicionar Meta</button>
   </th>
   </tr>
   <tr *ngFor="let a of alunos">
      <td>{{a.nome}}</td>
      <td>{{a.cpf}}</td>
      <td>{{a.email}}</td>
      <td class="meta" *ngFor="let m of turma.getMetas()">
         <input [ngModel]="a.metas.get(m)" (ngModelChange)="a.metas.set(m, $event)" (change)="atualizarAluno(a)">
      </td>
   </tr>
</table>