<html (mousemove)="onMove()">

    <h3>Turmas</h3>

    <table>
        <tr>
            <td><label>Nome </label></td>
            <td><input [(ngModel)]="turma.nome" name="turmaNameBox"></td>
        </tr>
        <tr>
            <td><label>Descrição </label></td>
            <td><input [(ngModel)]="turma.descricao" name="turmaDescriptionBox"></td>
        </tr>
        <tr>
            <td><button (click)="criarTurma(turma)">Adicionar</button></td>
        </tr>
    </table>

    <hr>
    <table class="turmas">
        <tr *ngIf="turmas.length > 0">
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Acessar Turma</th>
            <th>Deletar Turma</th>
            <th>Exportar Turma</th>
        </tr>
        <tr *ngFor="let t of turmas" name="turmaList">
            <td name="turmaIdList">{{t.id}}</td>
            <td name="turmaNomeList">{{t.nome}}</td>
            <td name="turmaDescricaoList">{{t.descricao}}</td>
            <td>
                <button (mouseover)="goToTurma(t.id)" [routerLink]="['classe', t.id]">Acessar Turma {{t.nome}}</button>
            </td>
            <td>
                <button class="deleteButton" (mouseover)="setTurmaToDel(t.id)" (click)="deletarTurma(t.id)">Deletar Turma: {{t.nome}}</button>
            </td>
            <!--
                Check if button below are necessary
            -->
            <td>
                <!--<button mat-raised-button (mouseover)="setTurmaToDel(t.id)" (click)="openDialog()">Exportar Turma: {{t.nome}}</button>
                -->
            </td>
        </tr>
    </table>

</html>