nav a {
  padding: .5rem 1rem;
  text-decoration: none;
  display: inline-block;
  background-color: black;
  color: #cfd8dc;
  border: none;
  border-radius: 0.4rem;
  margin: .5rem;
}
nav a:hover {
  color: black;
  background-color: #cfd8dc;
}

button {
  font-family: Arial;
  background-color: black;
  color: #cfd8dc;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
  color: black;
}


.deleteButton:hover {
  background-color: red;
  color: black;
}